[Desktop Entry]
Name=Hyprland (Gaming, uwsm-managed)
Comment=An intelligent dynamic tiling Wayland compositor
Exec=uwsm start -- Hyprland --config %h/.config/hypr/hyprland-gaming.conf
TryExec=uwsm
DesktopNames=Hyprland
Type=Application
