[Desktop Entry]
Name=Hyprland (TV HDR, uwsm-managed)
Comment=An intelligent dynamic tiling Wayland compositor
Exec=uwsm start -- Hyprland --config %h/.config/hypr/hyprland-tv-hdr.conf
TryExec=uwsm
DesktopNames=Hyprland
Type=Application
